@model IZ10.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="form-group">

        @Html.LabelFor(m => m.Name, new { @class = "col-md-10 control-label" })
        <div class="col-md-offset-1 col-md-14 col-xs-14 col-lg-14 col-sm-14">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your Name" })
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.SecondName, new { @class = "col-md-10 control-label" })
        <div class="col-md-offset-1 col-md-14 col-xs-14 col-lg-14 col-sm-14">
            @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control", placeholder = "Your SecondName" })
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.City, new { @class = "col-md-10 control-label" })
        <div class="col-md-offset-1 col-md-14 col-xs-14 col-lg-14 col-sm-14">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Your City" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-10 control-label" })
        <div class="col-md-offset-1 col-md-14 col-xs-14 col-lg-14 col-sm-14">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label" })
        <div class="col-md-offset-1 col-md-14  col-xs-14  col-lg-14  col-sm-14">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-10 control-label" })
        <div class="col-md-offset-1 col-md-14 col-xs-14 col-lg-14 col-sm-14">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-12 col-xs-14 col-lg-14 col-sm-14">
            <input type="submit" class="btn btn-default" value="Регистрация" />
        </div>
    </div>
}

<link href="~/Content/css/Registration.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
